
    <h1>Lista de Afazeres  </h1>
    <form method="POST" action="/"> 
        {% csrf_token %}
        {{form.title}}
        <input type="submit" name="Create Task">
    </form>

    {% for x in tasks %} 
        <div>
            
           
            <div>
                {% if x.complete == True %}
                <strike>{{x}}</strike>
                {% else %}
                <span>{{x}}</span>
                {% endif %}
            </div>

            <a href="{% url 'update_task' x.id %}">Update</a>
            <a href="{% url 'delete' x.id %}">Delete</a>

            <br><br>
        
            
        </div>
    {% endfor %}


